*{
    margin:0;
    padding:0;
    border: none;
}
body{

    max-width: 99vw;
    max-height: 98vh;
}

h1{
    color: white;
}

#fullscreenButton{
    position: fixed;
}
#renderCanvas { width: 100%; height: 100%; 
position: relative;
}